body {
    height: 100vh; /* For resizable settings modal */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden; /* For resizable settings modal */
}

#mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    z-index: 1;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.ol-zoom {
    top: unset;
    left: unset;
    right: .5em;
    bottom: 2em;
}

.ol-rotate {
    top: unset;
    right: unset;
    bottom: 2em;
    left: .5em;
}

.ol-attribution {
    font-size: 11px;
}

.ol-locate-buttons {
    top: unset;
    left: unset;
    right: .5em;
    bottom: 5.5em;
}

@media only screen and (max-width: 900px) {
    .ol-locate-buttons {
        /* Prevent overlap with zoom buttons on mobile */
        bottom: 6.5em;
    }
}

.ol-locate-buttons .ol-locate-stop {
    display: none;
}

.ol-locate-buttons.ol-locate-active .ol-locate-stop {
    display: block;
    border-radius: 2px 2px 0 0;
}

.ol-locate-buttons.ol-locate-active .ol-locate-start {
    border-radius: 0 0 2px 2px;
}

.animate-size {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-name: animate-size-animation;
    transform-origin: center center;
}

@keyframes animate-size-animation {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(.2);
    }
}

/* TODO: remove when moving to bootstrap 5 */
.text-decoration-line-through {
    text-decoration: line-through;
}

.control-panes {
    position: absolute;
    margin-left: 10px;
    width: 350px;
    max-width: calc(100vw - 20px);
    z-index: 2;
}

.control-pane {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #00000033;
    padding: 15px;
}

.control-pane.control-pane-general-tools {
    margin-top: 10px;
}

.control-pane.control-pane-object-list {
    margin-top: 10px;
    padding-top: 0px;
}

.control-pane.control-pane-object-list .control-pane-content#objectList {
    max-height: 150px;
    overflow: auto;
}

@media only screen and (min-height: 900px), only screen and (min-width: 900px) {
    .control-pane.control-pane-object-list .control-pane-content#objectList {
        max-height: 80vh;
        min-height: 200px;
    }
}

.object-list-main-buttons > button {
    z-index: 10;
}

.object-list-main-buttons > div.dropdown-menu {
    z-index: 11;
}

#coordinatePanelWrapper {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    max-width: calc(100vw - 20px);
    transform: translateX(50vw) translateX(-50%);
}

.control-pane.control-pane-object-list .control-pane-content#objectListMinimized {
    display: none;
}

#objectListMinimizer {
    cursor: row-resize;
    height: 15px;
    width: 100%;
    display: flex;
}

#objectListMinimizer::before, #objectListMinimizer::after {
    flex: 1 0 auto;
    transform: translate(0, 6px);
    display: block;
    content: "";
    height: 3px;
}

#objectListMinimizer:hover::before, #objectListMinimizer:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(
            180deg,
            rgba(0,0,0,0.00) 0%,
            rgba(0,0,0,0.10) 50%,
            rgba(0,0,0,0.00) 100%
    );
}

#objectListMinimizer > svg {
    color: rgba(0, 0, 0, 0.2);
    margin: 0 8px;
}

#objectListMinimizer:hover > svg {
    color: rgba(0, 0, 0, 0.4);
}

.control-pane.control-pane-object-list.minimized .control-pane-content#objectList {
    display: none;
}

.control-pane.control-pane-object-list.minimized .control-pane-content#objectListMinimized {
    display: block;
}

.control-pane.control-pane-object-list.minimized {
    float: left; /* Make sure the containing box is not too large */
    padding: 5px;
}

#objectListTabs .nav-link {
    font-size: .75rem;
    white-space: nowrap;
    text-transform: uppercase;
}

#objectListTabs .nav-link.active {
    font-weight: bold;
}

.tab-pane.sorting .cutout {
    cursor: grab;
}
.tab-pane.sorting .cutout .objectName {
    cursor: grab;
}

.cutout.hover {
    background-color: #eeeeee;
}

.cutout.cutout-hidden {
    opacity: 0.5;
}

#cutoutDropdownMenu {
    position: absolute;
    top: 0;
    left: 0;
}

.objectName {
    cursor: text;
}

.editableObjectNameWrapper {
    padding-right: 0.5rem;
}

.editableObjectNameWrapper > input.editableObjectName {
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-left: 0.5rem;
}

#mainLoadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2000;
    display: none;
}

#usageNote {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 400;
    font-size: 11px;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 900px) {
    #usageNote {
        display: none;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer-sideroads {
    cursor: pointer;
}

.cursor-pointer-intermediate {
    cursor: pointer;
}

.coordinate-marker-hover {
    cursor: grab;
}

.coordinate-marker-dragging {
    cursor: grabbing;
}

.size60 {
    font-size: 60%;
}

.size70 {
    font-size: 70%;
}

.mt-m1 {
    margin-top: -.25rem !important;
}

h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.btn-modal-header-wiki {
    margin: -0.25rem 1rem -0.5rem auto;
}

.btn-modal-header-wiki > svg {
    margin-top: -0.1rem;
}

.btn-modal-header-wiki > span {
    margin-left: 0.25rem;
}

@media only screen and (max-width: 900px) {
    .btn-modal-header-wiki > svg {
        margin-top: 0;
        vertical-align: baseline;
    }

    .btn-modal-header-wiki > span {
        display: none;
    }
}

/* btn-control based on btn-outline-secondary */
.btn-control {
    color:#999999;
    border-color:#999999;
}

.btn-control:hover {
    color:#777777;
    background-color:#dddddd;
    border-color:#777777;
}

.btn-control.focus, .btn-control:focus {
    box-shadow:0 0 0 .2rem rgba(108, 117, 125, .5);
}

.btn-control.disabled, .btn-control:disabled {
    color:#999999;
    background-color:transparent;
}

.btn-control:not(:disabled):not(.disabled).active, .btn-control:not(:disabled):not(.disabled):active, .show>.btn-control.dropdown-toggle {
    color:#777777;
    background-color:#dddddd;
    border-color:#777777;
}

.btn-control:not(:disabled):not(.disabled).active:focus, .btn-control:not(:disabled):not(.disabled):active:focus, .show>.btn-control.dropdown-toggle:focus {
    box-shadow:0 0 0 .2rem rgba(108, 117, 125, .5);
}

/* Loader */
.lds-dual-ring {
    display: inline-block;
    width: 1em;
    height: 1em;
}
.lds-dual-ring::after {
    content: " ";
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
.lds-dual-ring > div {
    float: left;
    width: calc(80% - 0.15em);
    height: calc(80% - 0.15em);
    margin: calc(10% + 0.075em);
    border-radius: 50%;
    overflow: hidden;
}
.lds-dual-ring > div > div {
    height: 100%;
    background-color: currentColor;
    opacity: 0.4;
    width: 0;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.lds-dual-ring-hidden {
    display: none;
}

.cutout .lds-dual-ring {
    font-size: 24px;
    vertical-align: middle;
    color: #007bff;
}

#mainLoadingIndicator .lds-dual-ring {
    font-size: 100px;
}
